body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {

  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #E4F9F5;

}

.middle-container {

}

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  right: 300px;
  top: 50px;
}
